/* everyting in stylesheet use it */


/* box-sizing, makes sure that total width and height of elements include padding and borders */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* In body, set background color,
font-family (use Open sans), font-size ... */

body {
    background-color: #fae9dc;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    width: auto;
    color: #3D3630;
}


/* For making that the form has the same font as body */

input,
select,
textarea,
button {
    font-family: inherit;
}


/* set width in wrapper class to 100 percent (as wide as the parent container) */

.wrapper {
    width: 100%;
}


/* style header with background color and use position relative so
 */

header {
    background-color: #72645A;
    /* position: relative; */
}


/* For desktop, toggle class will not be displayed */


/* "checkbox" in id="drop" will be used when user use small devices and 
it will be checked when user click it (and then show the sub-nav) */

.toggle,
[id^=drop] {
    display: none;
}


/* Set padding and margin to zero */

.navbar {
    padding: 0;
    margin: 0;
}


/* Style the logo with font color, display block (always start to the new line), 
float to the left ... */

#logo {
    color: #fae9dc;
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}


/* Since we'll have the "ul li" "float:left"
  we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}


/* Removing padding, margin and "list-style" from the "ul",
  and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0px;
    margin: 0;
    list-style: none;
    position: relative;
}


/* Positioning the navigation items inline 
by using "float:left" */

nav ul li {
    margin: 0;
    float: left;
    background-color: #72645A;
}


/* Styling the links */

nav a {
    line-height: 30px;
    display: block;
    padding: 14px 20px;
    color: #fae9dc;
    font-size: 15px;
    text-decoration: none;
}


/* Background color change on Hover */

nav a:hover {
    background-color: #3D3630;
}


/* Hide Dropdowns by Default (use display:none)
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* top: 60px; */
}


/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}


/* Style Fisrt Tier Dropdown 
 use "float: none; so its not going to float to the right of each other */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}


/* wrap the head image and text
use position: relative; so the text can fit in the picture
use z-index: -1; so the sub-menu can display */

.container {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}


/* contain the text and center it in the picture */

.imgText {
    width: 100%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.5em;
}


/* wrap the first and second content */

.contentWrapper {
    padding: 0px 55px 70px 55px;
}


/* Style the first content section */

#firstContent {
    padding: 150px 55px;
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
}


/* Style h2 element */

h2 {
    letter-spacing: 0.09em;
    font-weight: 200;
}


/* Style border , in this case i want it shorter than normal */

.border {
    margin: auto;
    display: block;
    max-width: 250px;
    height: 2px;
    background-color: #807064;
}


/* Style "p" in the first content */

#firstContent p {
    /* font size for first page */
    font-size: smaller;
    padding-top: 9px;
}


/* Style Image Grid */


/* Use flex-wrap to wrap all the pictures so it create a responsive image
use display: flex; to display pictures next to each other*/

.row {
    flex-wrap: wrap;
    display: flex;
    padding: 0 4px;
}


/* Style column class, use flex 25% to show in 3 column */

.column {
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
}


/* Create little space between each picture */

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


/* Set width 100 percent of the container */

#secondContent img {
    width: 100%;
}


/* Style footer */

footer {
    background-color: #72645A;
    min-height: 190px;
    padding: 20px;
    /* width: 100%; */
}


/* Create first section in footer, and style it...
use display flex so each div(text box) float to the left to each other */

#footerText {
    display: flex;
    height: 100px;
    color: #fae9dc;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
}


/* Style each footer content  */

.footerContent {
    width: 20%;
    height: 100%;
    padding: 10px 10px;
}


/* Style "h4" text in .footerContent */

.footerContent h4 {
    letter-spacing: 0.3em;
    padding-bottom: 13px;
}


/* Set font size in "p, em, a" text in .footerContent */

.footerContent p,
em,
a {
    font-size: 14px;
}


/* Style "a" tag in .footerContent 
delete text docoration and set it in white instead*/

.footerContent a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}


/* Style hover in "a" tag */

.footerContent a:hover {
    opacity: 0.7;
}


/* Set everyting to center in socialmedia section and set heigt to 50px */

#socialmedia {
    text-align: center;
    height: 50px;
}


/* Style  social media symbol, create round border and align text to center... */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


/* Style hover in social media section */

.fa:hover {
    opacity: 0.7;
}


/* Facebook symbol, set background color and icon to white */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Instagram symbol, set background color and icon to white */

.fa-instagram {
    background: #125688;
    color: white;
}


/* Twitter symbol, set background color and icon to white */

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* Center class, use for center stuff */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
***************** About Us *********************
*/


/* Fix the head picture in every pages (except Home page)
set height to 504px and object-fit to cover, so the picture can be flexible according to the size of browser*/

.aboutUs .cafeHeadImg,
.location .cafeHeadImg,
.contact .cafeHeadImg,
.bakeries .cafeHeadImg,
.wedding .cafeHeadImg {
    width: 100%;
    height: 504px;
    object-fit: cover;
}


/* Style "p" text in the first content section in Aboutus and Wedding class */

.aboutUs #firstContent p,
.wedding #firstContent p {
    font-size: 17px;
    padding-top: 50px;
    text-align: left;
}


/* class fixpics, fix the width of grid picture 
and set in center */

.fixpics {
    margin: 0 auto;
    /* Make pics center */
    max-width: 1200px;
}


/*
***************** Location *********************
*/


/* Style "address" tag in the first content section in location class */

.location #firstContent address {
    font-size: 23px;
    padding-top: 30px;
}


/* Set the map in second content to center */

.location #secondContent {
    text-align: center;
}


/* Set width to the map picture */

.location #secondContent img {
    width: 50%;
    height: auto;
}


/*
***************** Contact us *********************
*/


/* Style "h4" tag in the first content section in contact class */

.contact #firstContent h4 {
    letter-spacing: 0.09em;
    padding-top: 40px;
    font-size: 25px;
}


/* Style "p and a" tag in the first content section in contact class */

.contact #firstContent p,
a {
    color: #807064;
    text-decoration: none;
    font-size: 17px;
}


/* Style hover in "a" tag in the first content section in contact class */

.contact #firstContent a:hover {
    opacity: 0.5;
}


/* Set width to the form to 700px */

.contact .formWrapper {
    width: 700px;
}


/* Style "h2" text in the form class */

.contact .formWrapper h2 {
    text-align: center;
    padding-bottom: 10px;
}


/* Style the form, i only want to top border so i use border: none;
and then style the border top */

.contact #form {
    border: none;
    border-top: 2px solid #807064;
    padding-top: 20px;
}


/* Style the input text box */

input[type=text],
textarea {
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: #f8f8f8;
    width: 100%;
}


/* .formClass {
    width: 100%;
} */


/* Style the submit botton, set it float to the right */

input[type=submit] {
    float: right;
    cursor: pointer;
    background-color: #807064;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
}


/* Style hover to the submit botton */

input[type=submit]:hover {
    background-color: #000000;
}


/* Style the form border, set it little round */

fieldset,
input,
textarea {
    border-radius: 4px;
    border: 2px solid #ccc;
}


/*
***************** Bakeries *********************
*/


/* .bakeries #secondContent figure {
    width: 448px;
} */


/* Style hover to the image in second content */

.bakeries #secondContent img:hover {
    opacity: 0.7;
}


/* Use flex column to set div class bakeRow to display in 2 column*/

.bakeries #secondContent {
    flex-direction: column;
}


/* Use flex-wrap to wrap the pictures so we can set in the responsive */

.bakeries #secondContent .bakeRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Set this to 25% .. so we get 4 pictures in the row*/

.bakery {
    width: 25%;
}


/* Style "figcaption" under the picture */

.bakeries #secondContent figcaption {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}


/* Style "h6" in figcaption under the picture */

.bakeries #secondContent figcaption h6 {
    font-weight: 100;
    padding-top: 6px;
}


/* Style "em" in figcaption under the picture */

.bakeries #secondContent figcaption em {
    font-size: 0.9em;
}


/*
***************** Wedding *********************
*/


/* Style "h5" in wedding page */

h5 {
    font-size: 25px;
    padding-top: 25px;
    font-weight: 100;
}


/* Media Queries
--------------------------------------------- */


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width:600px) {
    /* .body {
        margin: 0px;
        width: 100%;
    } */
    /* .wrapper {
        width: 100%;
    } */
    /* set padding smaller in heading */
    header {
        padding: 2px;
    }
    /* Set heigt to the head picture to 710px and
    put !important so it does not show height in IPAD media screen */
    .cafeHeadImg {
        width: 100%;
        height: 710px !important;
        object-fit: cover;
    }
    /* Set width to 100 percent and font size to 16px */
    .imgText {
        width: 100%;
        font-size: 16px;
    }
    /* Set smaller padding in contentWrapper class */
    .contentWrapper {
        padding: 0px 2px 3px 2px;
    }
    /* Set smaller padding and font in first content section */
    #firstContent {
        padding: 90px 20px;
        font-size: 24px;
    }
    /* Set flex to 100 percent so all pictures can show it full wide*/
    .column {
        flex: 100%;
        max-width: 100%;
    }
    /* Set smaller padding in footer */
    footer {
        padding: 2px;
    }
    /* Set display: block; to each id footer text, so it can display in block  */
    #footerText {
        display: block;
        width: 100%;
        height: auto;
    }
    /* Set width to 100 percent */
    .footerContent {
        width: 100%;
    }
    /* Fix the head picture in every pages (except Home page)
set height to 200px and object-fit to cover, so the picture can be flexible according to the size of browser*/
    .aboutUs .cafeHeadImg,
    .location .cafeHeadImg,
    .contact .cafeHeadImg,
    .bakeries .cafeHeadImg,
    .wedding .cafeHeadImg {
        width: 100%;
        height: 200px !important;
        object-fit: cover;
    }
    /* Set smaller padding in second content section */
    #secondContent {
        padding: 0px 17px 17px 17px;
    }
    /* .bakeries #secondContent .bakeRow {
        display: block;
        max-width: 100%;
    } */
    /* .bakeries #secondContent figure {
        width: 100% !important;
    } */
    /* set to 100% and have to use !important otherwise its goonna show the ipad result*/
    .bakery {
        width: 100% !important;
    }
}


/* Media Queries IPAD
--------------------------------------------- */


/* Large devices (IPAD and down) */


/* MENU BAR */

@media screen and (max-width:768px) {
    /* Set logo to center */
    #logo {
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    /* Set height to 470px in cafeHeadImg class */
    .wrapper .cafeHeadImg {
        height: 470px;
    }
    /* Set margin to 0*/
    nav {
        margin: 0;
    }
    /* Set width to 100% in navigation*/
    nav ul {
        width: 100%;
    }
    /* Hide the navigation menu(desktop) by default */
    .toggle+a,
    .menu {
        display: none;
    }
    /* Styling the toggle lable */
    .toggle {
        display: block;
        padding: 14px 20px;
        color: #fae9dc;
        font-size: 15px;
        text-decoration: none;
        border: none;
    }
    /* Styling hover in the toggle lable */
    .toggle :hover {
        background-color: #3D3630;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }
    /* nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    } */
    /* Styling hover to the menu */
    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }
    /* Styling font size, color and padding to the menu */
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 15px;
    }
    /* Set background color to sub-nav */
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* line-height: 30px; */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }
    /*** Fix pics in the content ***/
    .fixpics {
        padding: 0px;
    }
    /** Fix maps width **/
    .location #secondContent img {
        width: 100%;
        height: auto;
    }
    /*Set pics to 50%... so we get 2 pics on the screen*/
    .bakery {
        width: 50%;
    }
}


/* @media all and (max-width: 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
} */